/* Original Stylesheet of Mbah Media */
/* DON'T USE THIS */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,400italic,700,700italic);
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

blockquote {
    font-size: 17px;
    line-height: 1.5em;
    font-style: italic;
    color: #2f2f2f;
}

dl,ul {
    list-style-position: inside;
    font-weight: 700;
    list-style: none;
}

ul li {
    list-style: none;
}

caption,th {
    text-align: center;
}

img {
    border: none;
    position: relative;
}

a,a:visited {
    text-decoration: none;
}

.clear {
    clear: both;
}

.section,.widget,.widget ul {
    margin: 0;
    padding: 0;
}

a {
    color: #F34E4E;
}

a:hover {
    color: #F34E4E;
}

:focus {
    outline: 0;
}

a img {
    border: 0;
}

brc {
    color: #bdbdbd;
}

.CSS_LIGHTBOX {
    z-index: 999999!important;
}

.separator a {
    clear: none!important;
    float: none!important;
    margin-left: 0!important;
    margin-right: 0!important;
}

#navbar-iframe {
    display: none;
    height: 0;
    visibility: hidden;
}

.widget-item-control,a.quickedit {
    display: none!important;
}

.archive .home-link,.index .home-link,.home-link {
    display: none!important;
}

* {
    outline: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

:after,:before {
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

.status-msg-wrap {
    margin: 0 auto 20px;
    text-transform: uppercase;
    font-size: 10px;
}

.status-msg-border {
    border: 1px solid #F3F3F3;
    opacity: .7;
    border-radius: 2px;
}

.status-msg-bg {
    background-color: #FFF;
    opacity: 1;
    filter: none;
}

.status-msg-body,.status-msg-hidden {
    padding: .5em
}

.feed-links {
    clear: both;
    display: none;
    line-height: 2.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

.group:before,.group:after {
    content: "";
    display: table;
}

/* Body */
body {
    background: #F3F3F3 url() repeat scroll top left;
    font: normal normal 14px Oswald;
    color: #4f4f4f;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

#outer-wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: #F3F3F3;
}

.row {
    width: 1020px;
}

#content-wrapper {
    margin: 20px auto;
    overflow: hidden;
}

#main-wrapper {
    float: left;
    overflow: hidden;
    width: 680px;
    word-wrap: break-word;
}

.item #main-wrapper,.static_page #main-wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px 20px 0;
}

#sidebar-wrapper {
    float: right;
    overflow: hidden;
    width: 320px;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-bottom: 20px;
}

#main-header {
    background-color: #fff;
    height: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F3F3F3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}

.tm-head {
    margin: 0 auto;
    overflow: hidden;
}

#logo-wrap {
    float: left;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    line-height: 60px;
}

#logo-wrap #header {
    float: left;
}

#header-inner a,.home #header-inner .titlewrapper {
    height: 60px;
    padding: 0 15px;
    float: left;
    background-color: #F34E4E;
    color: #fff;
    line-height: 60px;
    display: inline-block!important;
    vertical-align: middle;
}

#header-inner img {
    max-height: 60px;
    vertical-align: middle;
    display: inline-block!important;
    line-height: 60px;
}

.Header h1 {
    font-family: Oswald;
    margin: 0;
}

.descriptionwrapper {
    display: none;
}

#tagline {
    margin-left: 14px;
    font-family: 'Oswald',sans-serif;
    color: #CACACA;
    font-weight: 400;
}

#header-elements {
    float: right;
}

#header-social {
    float: left;
}

#header-social li {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    padding: 0;
}

#header-social a {
    display: block;
    height: 60px;
    background: url(https://4.bp.blogspot.com/-rESgMg3sX8g/V2hqZpzLy4I/AAAAAAAAAe8/YsUrZstRAT4i70xwxMSLscBMuLVcZQjywCK4B/s1600/header-social.png) no-repeat;
    text-indent: -9999px;
    opacity: .2;
    transition: opacity .3s;
}

#header-social a:hover {
    opacity: 1;
}

#header-social .twitter a {
    width: 17px;
}

#header-social .facebook a {
    width: 7px;
    background-position: -37px 0;
}

#header-social .instagram a {
    width: 14px;
    background-position: -64px 0;
}

#header-social .vimeo a {
    width: 16px;
    background-position: -98px 0;
}

#header-social .youtube a {
    width: 19px;
    background-position: -209px 0;
}

#header-social .soundcloud a {
    width: 21px;
    background-position: -168px 0;
}

#header-social .google a {
    width: 14px;
    background-position: -134px 0;
}

#header-search {
    position: relative;
    width: 227px;
    height: 60px;
    float: right;
}

#header-search #s {
    position: absolute;
    right: 46px;
    top: 0;
    width: 120px;
    height: 60px;
    padding: 0 20px;
    border: none;
    color: #C3C3C3;
    border-left: 1px solid #F3F3F3;
    background-color: #F8F8F8;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#header-search #searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 46px;
    height: 60px;
    border: none;
    background: #F34E4E url(https://3.bp.blogspot.com/-Ymqr-glBggY/V2hoj6ShqKI/AAAAAAAAAew/Q9lv0d7NM2c5IZ5ySK_H5kGqgsrNGorfACK4B/s1600/header-search.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

#header-search #searchsubmit:hover {
    background-color: #3f3f3f;
}

#menu {
    display: none;
}

#main-nav {
    background-color: #2f2f2f;
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 50px;
    font-size: 13px;
    margin: 0 auto;
}

.header-menu {
    background-color: #2f2f2f;
    height: 50px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

li.li-home {
    background-color: #3A3A3A;
    display: inline-block;
    position: relative;
    float: left;
    width: 46px;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
}

li.li-home a {
    float: left;
    background: #3A3A3A url(//mbahmedia.github.io/images/home-icon.png) no-repeat;
    padding: 0;
    height: 50px;
    width: 46px;
    box-sizing: border-box;
    border-bottom: 2px solid #F34E4E;
}

li.li-home:hover {
    background-color: #3A3A3A;
}

#main-nav ul li {
    position: relative;
    float: left;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 2px solid #2f2f2f;
}

#main-nav ul li a {
    float: left;
    color: #F2F2F2;
    padding: 0 13px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5px;
}

#main-nav ul li:hover {
    background-color: #3A3A3A;
    border-bottom: 2px solid #F34E4E;
}

#main-nav ul li:hover a {
    color: #fff;
}

#main-nav ul li.has-children a:after {
    content: "";
    background: url(https://4.bp.blogspot.com/-tkfL-ngaKsw/V2hEmkG7D6I/AAAAAAAAAeQ/yCKa6VzayyQR50Lb2jVJbkacw8qO_LtFgCK4B/s1600/sub-icon.png) no-repeat 0 23px;
    display: block;
    width: 9px;
    height: 50px;
    float: right;
    margin-left: 6px;
}

#main-nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 100;
    background-color: #2f2f2f;
    border-top: 0;
    box-shadow: 0 1px 3px rgba(40,35,40,0.05);
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
}

#main-nav ul li ul li {
    height: auto;
    margin-left: 0;
    display: block;
    float: none;
    position: relative;
    overflow: hidden;
    line-height: normal;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid #3A3A3A;
}

#main-nav ul li ul li:hover {
    border-bottom: 1px solid #3A3A3A;
}

#main-nav ul li ul li:last-child {
    border-bottom: 0;
}

#main-nav ul li ul li a {
    min-width: 180px;
    color: #F2F2F2;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 16px!important;
    margin-top: 0;
    border: 0;
    transition: all .3s ease!important;
    -webkit-transition: all .3s ease!important;
    -moz-transition: all .3s ease!important;
    -o-transition: all .3s ease!important;
}

#main-nav ul li:hover ul li a {
    color: #F2F2F2;
}

#main-nav ul li ul li a:after {
    content: "";
    display: none!important;
}

#main-nav ul li ul li a:hover {
    background-color: #3A3A3A;
    color: #fff!important;
    padding-left: 20px!important;
}

#random-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 50px;
    width: 46px;
    background: #3A3A3A url(https://1.bp.blogspot.com/-8oGF-hgo68c/V2gxoOYqjOI/AAAAAAAAAeA/JcgbFak1Dk0mwV1eFo4Ju5u9apfYT3YugCK4B/s1600/random-icon.png) no-repeat;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 2px solid #F34E4E;
}

#random-icon:hover {
    background-color: #3A3A3A;
}

#random-icon a {
    height: 50px;
    display: block;
    overflow: hidden;
}

.selectnav {
    display: none;
    background-color: #3A3A3A;
    box-sizing: border-box;
    border: 0;
}

.tipsy {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

.tipsy-inner {
    background-color: #F34E4E;
    color: #FFF;
    max-width: 200px;
    padding: 4px 8px;
    text-align: center;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #2F2F2F;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

.tipsy-arrow-n {
    border-bottom-color: #F34E4E;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    transition: all .0s ease;
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -o-transition: all .0s ease;
}

#slider-sec .widget h2 {
    display: none;
}

#featured-slider * {
    transition: all 0 ease;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -o-transition: all 0 ease;
}

#featured-slider {
    margin-bottom: 20px;
}

#featured-slider,#featured-slider .slides > li {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

#featured-slider .slider-img {
    height: 400px;
    overflow: hidden;
    display: block;
}

#featured-slider img {
    width: 100%;
    height: auto
}

#feat-star-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    border-top: 50px solid #F34E4E;
    border-right: 50px solid transparent;
    border-left: 0 solid transparent;
}

#feat-star {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    display: block;
    width: 50px;
    height: 50px;
    background: url(https://4.bp.blogspot.com/-p3zsSAbhpiE/V2MO2PX-rPI/AAAAAAAAAc8/81veXgK8A_YP6CnbOVsCwH7Aa6JcWPiKQCK4B/s1600/feat-star.png) no-repeat;
}

#slider-nav a {
    position: absolute;
    top: 187px;
    z-index: 10;
    display: block;
    width: 36px;
    height: 36px;
    background: #F34E4E url(https://3.bp.blogspot.com/-bDqv6yFb57M/V2MPEtYbVaI/AAAAAAAAAdM/ZzUuEuGna3AiTLckR5jjxXSxAmYM4iN_QCK4B/s1600/slider-nav.png) no-repeat;
    transition: background .3s;
}

#slider-nav a:hover {
    background-color: #2f2f2f;
}

#slider-nav .flex-prev {
    left: 20px;
}

#slider-nav .flex-next {
    right: 20px;
    background-position: -72px 0;
}

.slide-cap {
    position: absolute;
    left: 10%;
    bottom: 20px;
    z-index: 8;
    display: inline-block;
    width: 80%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.slide-cap h1 {
    font-size: 25px;
    font-weight: 400;
}

.slide-cap .post-title a {
    color: #fff;
}

.slide-cap .post-title a:hover {
    color: #ccc;
}

.feat-divider {
    display: block;
    width: 18px;
    height: 1px;
    margin: 13px auto;
    background-color: #fff;
}

.slide-cap .post-date {
    font-size: 12px;
    font-weight: 400;
}

.slide-cap-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 200px;
    background: url(https://2.bp.blogspot.com/-7rXhavdt3ao/V2MO9dJX0XI/AAAAAAAAAdE/yHyixqvMl3sJlYuGJ_Z01g2SfCa6BHZfQCK4B/s1600/slide-cap-bg.png) repeat-x;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(40,35,40,0.0);
}

.custom-widget .rcthumb:hover .img-overlay,.PopularPosts .item-thumbnail:hover a .img-overlay {
    background-color: rgba(40,35,40,0.3);
}

.custom-widget li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #F3F3F3;
}

.custom-widget .rcthumb {
    position: relative;
    float: left;
    margin: 0!important;
    width: 90px;
    height: 65px;
    overflow: hidden;
    display: block;
    vertical-align: middle;
}

.custom-widget .post-panel {
    padding-left: 15px;
    display: table-cell;
}

.custom-widget .rcp-title {
    overflow: hidden;
    line-height: 0;
    margin: 0 0 2px;
    padding: 0;
}

.custom-widget .rcp-title a {
    color: #2f2f2f;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5em;
}

.custom-widget .rcp-title a:hover {
    color: #F34E4E;
}

.cmm-widget li .cmm-avatar {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 55px;
    height: 55px;
    float: left;
    margin: 0 10px 0 0;
}

.cmm-widget li {
    background: none!important;
    clear: both;
    list-style: none;
    word-break: break-all;
    display: block;
    border-top: 1px solid #F3F3F3;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
}

.cmm-widget li:first-child {
    padding-top: 0;
    border-top: 0;
}

.cmm-widget li:last-child {
    padding-bottom: 0;
}

.cmm-widget li span {
    margin-top: 4px;
    color: #bdbdbd;
    display: block;
    line-height: 1.2em;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

.cmm-img {
    width: 55px;
    height: 55px;
    float: left;
    margin: 0 10px 0 0;
}

.cmm-widget a {
    color: #2f2f2f;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    overflow: hidden;
}

.cmm-widget a:hover {
    color: #F34E4E;
}

.cmm-widget {
    list-style: none;
    padding: 0;
}

.post {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
}

.index .post,.archive .post {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background-color: #fff;
    display: block;
}

.block-image {
    background-color: #F3F3F3;
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.block-image .thumb {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
}

.block-image .thumb a {
    width: 100%;
    height: 200px;
    display: block;
}

.thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(40,35,40,0.0);
}

.block-image:hover .thumb a .thumb-overlay {
    background-color: rgba(40,35,40,0.30);
}

.index article {
    overflow: hidden;
    padding: 15px;
}

.retitle h2 {
    margin: 8px 0;
    display: block;
}

.post h2 a,.post h2 a:visited,.post h2 strong {
    color: #2f2f2f;
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.post h2 a:hover {
    color: #F34E4E;
}

.widget iframe,.widget img {
    max-width: 100%;
}

.index .post-footer,.archive .post-footer {
    display: none!important;
}

.index .post h2,.archive .post h2 {
    margin: 0;
    padding: 0 10px 0 0;
    overflow: hidden;
}

.item .post,.static_page .post {
    padding: 0;
}

.date-header {
    display: block;
    overflow: hidden;
    font-weight: 400;
    margin: 0!important;
    padding: 0;
}

#meta-post {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    line-height: 1.4em;
}

#meta-post a.timestamp-link {
    color: #ccc;
    text-transform: uppercase;
}

.resumo {
    margin-top: 5px;
    font-size: 13px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}

.resumo span {
    display: block;
    margin: 8px 0 10px;
    padding-right: 10px;
}

.post-meta {
    text-transform: uppercase;
    color: #ccc;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: none;
    margin: 0;
    font-size: 0;
}

.item article,.static_page article {
    margin-top: 15px;
}

.item .post-head,.static_page .post-head {
    position: relative;
    margin: 2px 0 10px;
}

.item .post-title,.static_page .post-title {
    color: #2f2f2f;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.item .post-body,.static_page .post-body {
    width: 100%;
    color: #5E5E5E;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    overflow: hidden;
}

.item .post-outer {
    padding: 0;
}

.item .post-body img {
    max-width: 100%;
}

.post-meta a {
    color: #ccc;
}

.post-author a {
    color: #2f2f2f;
}

.post-author a:hover {
    color: #F34E4E;
}

.post-timestamp {
    margin-left: 0;
}

.post-meta .post-timestamp {
    margin-left: 10px;
}

.main .widget {
    margin: 0;
}

.main .Blog {
    border-bottom-width: 0;
}

.single-elements {
    overflow: hidden;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}

.label-head {
    float: left;
}

.label-head a {
    display: inline-block;
    float: left;
    height: 24px;
    margin-right: 1px;
    padding: 0 8px;
    color: #fff;
    background-color: #F34E4E;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 25px;
}

.label-head a:hover {
    background-color: #2f2f2f;
}

.share-box {
    float: right;
}

.share-box li {
    float: left;
    display: inline-block;
    line-height: 0;
    padding: 0;
}

.share-box a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    background-color: #F34E4E;
    background: #F34E4E url(https://1.bp.blogspot.com/-TTiaVviCUfs/V2gBVyw_tSI/AAAAAAAAAdw/EwY1TWXlQyAPV9CChGhfZ0OpY80VxyAPQCK4B/s1600/single-share.png) no-repeat;
    text-indent: -9999px;
}

.facebook a {
    background-position: -25px 0;
}

.google a {
    background-position: -50px 0;
}

.pinterest a {
    background-position: -75px 0;
}

.share-box a:hover {
    background-color: #2f2f2f;
}

#related-wrap {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F3F3;
}

.hide-label {
    display: none;
}

.related-posts {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.related-posts .related-item {
    width: 32%;
    position: relative;
    overflow: hidden;
    float: left;
    display: block;
    box-sizing: border-box;
    margin: 0 0 0 2%;
    padding: 0;
}

.related-posts li:first-child,.related-posts li:nth-child(4) {
    margin-left: 0;
}

.related-posts .related-item .related-thumb {
    width: 100%;
    height: 140px;
    background-color: #f3f3f3;
}

.related-posts .related-item .related-img {
    width: 100%;
    height: 140px;
    position: relative;
    display: block;
}

.related-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(40,35,40,0.0);
}

.related-posts .related-thumb:hover .related-overlay {
    background-color: rgba(40,35,40,0.30);
}

.related-content {
    padding: 8px 10px 0 0;
    width: 100%;
    line-height: 1.2em;
    box-sizing: border-box;
    z-index: 2;
}

.related-posts h3 a {
    font-size: 12px;
    line-height: 1.5em;
    color: #2f2f2f;
    text-transform: uppercase;
    display: block;
}

.related-posts h3 a:hover {
    color: #F34E4E;
}

#blog-pager {
    clear: both;
    text-align: center;
    margin: 0;
}

.index #blog-pager {
    display: block;
}

.index #blog-pager,.archive #blog-pager {
    font-size: 14px;
    text-align: left;
    padding: 5px 0;
}

#blog-pager-newer-link a,#blog-pager-older-link a {
    display: block;
    float: left;
    margin-right: 0;
    padding: 0 12px;
    border: 0;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 400;
    background-color: #fff;
    color: #666;
    font-size: 14px;
}

#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover {
    background-color: #F34E4E;
    color: #fff;
}

.showpageNum a,.showpage a,.showpagePoint {
    display: block;
    float: left;
    margin-right: 6px;
    padding: 0 14px;
    background-color: #fff;
    color: #666;
    border: 0;
    text-transform: uppercase;
    line-height: 34px;
    font-weight: 400;
}

.showpageNum a:hover,.showpage a:hover {
    background-color: #F34E4E;
    color: #fff;
}

.showpageNum a i,.showpage a i {
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
}

.showpagePoint {
    background-color: #F34E4E;
    color: #fff;
}

.showpageOf {
    display: none!important;
}

.blogger-tab {
    display: block;
}

.comments-title h2,.related-title h2 {
    color: #2f2f2f;
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 20px;
}

.comments {
    clear: both;
    margin: 0;
    color: #2f2f2f;
}

.comments h4 {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    padding-top: 1px;
}

.comments .comments-content {
    margin: 0;
    padding: 0;
}

.comments .comments-content .comment {
    margin-bottom: 0;
    padding-bottom: 8px;
}

.comments .comments-content .comment:first-child {
    padding-top: 0;
}

.facebook-tab,.fb_iframe_widget_fluid span,.fb_iframe_widget iframe {
    width: 100%!important;
}

.comments .item-control {
    position: static;
}

.comments .avatar-image-container {
    float: left;
    overflow: hidden;
    position: absolute;
}

.comments .avatar-image-container,.comments .avatar-image-container img {
    height: 45px;
    max-height: 45px;
    width: 45px;
    max-width: 45px;
    border-radius: 0;
}

.comments .comment-block {
    overflow: hidden;
    padding: 0 0 10px;
}

.comments .comment-block,.comments .comments-content .comment-replies {
    margin-left: 60px;
    margin-top: 0;
}

.comments .comments-content .inline-thread {
    padding: 0;
}

.comments .comment-actions {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
}

.comments .comments-content .comment-header {
    font-size: 13px;
    display: block;
    overflow: hidden;
    clear: both;
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #F3F3F3;
}

.comments .comments-content .user {
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
}

.comments .comments-content .icon.blog-author {
    display: none;
}

.comments .comments-content .comment-content {
    font-family: 'Open Sans', sans-serif;
    float: left;
    text-align: left;
    font-size: 13px;
    line-height: 1.4em;
    color: #656565;
}

.comments .comment .comment-actions a {
    margin-right: 5px;
    padding: 2px 5px;
    color: #fff;
    font-weight: 400;
    background-color: #F34E4E;
    font-size: 10px;
}

.comments .comment .comment-actions a:hover {
    color: #fff;
    background-color: #2f2f2f;
    text-decoration: none;
}

.comments .comments-content .datetime {
    color: #ccc;
    float: left;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    margin: 2px 0 0;
    display: block;
}

.comments .comments-content .comment-header a {
    color: inherit;
}

.comments .comments-content .comment-header a:hover {
    color: #F34E4E;
}

.comments .thread-toggle {
    margin-bottom: 4px;
}

.comments .thread-toggle .thread-arrow {
    height: 7px;
    margin: 0 3px 2px 0;
}

.comments .thread-expanded {
    padding: 8px 0 0;
}

.comments .comments-content .comment-thread {
    margin: 0;
}

.comments .continue a {
    padding: 0 0 0 60px;
    font-weight: 400;
}

.comments .comments-content .loadmore.loaded {
    margin: 0;
    padding: 0;
}

.comments .comment-replybox-thread {
    margin: 0;
}

iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post {
    height: 283px!important;
}

.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6 {
    font-family: 'Oswald', sans-serif;
    color: #2f2f2f;
    margin-bottom: 15px;
}

blockquote {
    margin: 0;
    padding: 0 20px;
}

blockquote:before {
    content: '\f10d';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    color: #2f2f2f;
}

blockquote:after {
    content: '\f10e';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    color: #2f2f2f;
}

.widget .post-body ul,.widget .post-body ol {
    line-height: 1.5;
    font-weight: 400;
}

.widget .post-body li {
    margin: 5px 0;
    padding: 0;
    line-height: 1.5;
}

.post-body ul li:before {
    content: "\f0da";
    margin-right: 5px;
    font-family: fontawesome;
}

#sidebar-wrapper .widget {
    margin-bottom: 20px;
    overflow: hidden;
}

.sidebar .widget h2 {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    background-color: #2f2f2f;
    height: 30px;
    margin: 0;
    padding-left: 10px;
}

.sidebar .widget .widget-title {
    position: relative;
    background-color: #2f2f2f;
    height: 30px;
}

.sidebar .widget .widget-title h2 {
    float: left;
    background-color: #F34E4E;
    padding: 0 10px;
}

.sidebar .widget-content {
    width: 300px;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}

.sidebar ul {
    list-style: none;
}

.list-label-widget-content li {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #F3F3F3;
    position: relative;
}

.list-label-widget-content li:first-child {
    padding: 0 0 8px;
}

.list-label-widget-content li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.list-label-widget-content li a:before {
    content: '\203a';
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 22px;
    color: #2f2f2f;
}

.list-label-widget-content li:first-child a:before {
    top: -7px;
}

.list-label-widget-content li a {
    color: #2f2f2f;
    font-size: 11px;
    padding-left: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.list-label-widget-content li a:hover {
    color: #F34E4E;
}

.list-label-widget-content li span:last-child {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 8px;
    right: 0;
}

.list-label-widget-content li:first-child span:last-child {
    top: 2px;
}

.cloud-label-widget-content {
    text-align: left;
}

.cloud-label-widget-content .label-count {
    background: #F34E4E;
    color: #fff!important;
    margin-left: -3px;
    white-space: nowrap;
    border-radius: 0;
    padding: 1px 4px!important;
    font-size: 12px!important;
    margin-right: 5px;
}

.cloud-label-widget-content .label-size {
    background: #f5f5f5;
    display: block;
    float: left;
    font-size: 11px;
    margin: 0 5px 5px 0;
}

.cloud-label-widget-content .label-size a,.cloud-label-widget-content .label-size span {
    height: 18px!important;
    color: #2f2f2f;
    display: inline-block;
    font-size: 11px;
    font-weight: 400!important;
    text-transform: uppercase;
    padding: 6px 8px;
}

.cloud-label-widget-content .label-size a {
    padding: 6px 10px;
}

.cloud-label-widget-content .label-size a:hover {
    color: #fff!important;
}

.cloud-label-widget-content .label-size,.cloud-label-widget-content .label-count {
    height: 30px!important;
    line-height: 19px!important;
}

.cloud-label-widget-content .label-size:hover {
    background: #F34E4E;
    color: #fff!important;
}

.cloud-label-widget-content .label-size:hover a {
    color: #fff!important;
}

.cloud-label-widget-content .label-size:hover span {
    background: #2f2f2f;
    color: #fff!important;
    cursor: pointer;
}

.cloud-label-widget-content .label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {
    font-size: 100%;
    opacity: 10;
}

.label-size-1,.label-size-2 {
    opacity: 100;
}

.FollowByEmail td {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
    margin-left: 0;
    width: 100%;
    border-radius: 0;
    height: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #F34E4E;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover {
    background-color: #3A3A3A;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-address {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #FFF;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: inherit;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus {
    border: 1px solid #FFF;
}

.FollowByEmail .widget-content {
    background-color: #2f2f2f;
}

.FollowByEmail .widget-content:before {
    content: "Enter your email address to subscribe to this blog and receive notifications of new posts by email.";
    font-size: 11px;
    color: #f2f2f2;
    line-height: 1.4em;
    margin-bottom: 5px;
    display: block;
    padding: 0 2px;
}

.flickr_widget .flickr_badge_image {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
}

.flickr_widget .flickr_badge_image:nth-of-type(4),.flickr_widget .flickr_badge_image:nth-of-type(8),.flickr_widget .flickr_badge_image:nth-of-type(12) {
    margin-right: 0;
}

.flickr_widget .flickr_badge_image img {
    max-width: 67px;
    height: auto;
}

.flickr_widget .flickr_badge_image img:hover {
    opacity: .5;
}

#ArchiveList select {
    border: 1px solid #2f2f2f;
    padding: 6px 8px;
    width: 100%;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    color: #2f2f2f;
}

.PopularPosts .item-thumbnail {
    margin: 0 15px 0 0 !important;
    width: 90px;
    height: 65px;
    float: left;
    overflow: hidden;
}

.PopularPosts .item-thumbnail a {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 0;
}

.PopularPosts ul li img {
    padding: 0;
    width: 90px;
    height: 65px;
}

.PopularPosts .widget-content ul li {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #F3F3F3;
}

.sidebar .PopularPosts .widget-content ul li:first-child,.sidebar .custom-widget li:first-child {
    padding-top: 0;
    border-top: 0;
}

.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .custom-widget li:last-child {
    padding-bottom: 0;
}

.PopularPosts ul li a {
    color: #2f2f2f;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.5em;
}

.PopularPosts ul li a:hover {
    color: #F34E4E;
}

.PopularPosts .item-title {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.item-snippet {
    display: none;
    font-size: 0;
    padding-top: 0;
}

#footer-wrapper {
    background-color: #fff;
    border-top: 1px solid #F3F3F3;
}

#footer {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.sect-left {
    display: inline-block;
    float: left;
    width: 32%;
    margin-right: 2%;
}

.sect-left:nth-child(3) {
    margin-right: 0;
}

.sect-left .widget {
    padding: 20px 0;
}

.sect-left .widget:nth-of-type(2) {
    padding-top: 0;
}

.sect-left .widget h2 {
    color: #2f2f2f;
    position: relative;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 13px;
    margin-bottom: 15px;
    border-bottom: 1px solid #F3F3F3;
}

.sect-left .widget h2:before {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 36px;
    height: 3px;
    background-color: #F34E4E;
}

.sect-left .PopularPosts .widget-content ul li:first-child,.sect-left .custom-widget li:first-child {
    padding-top: 0;
    border-top: 0;
}

.sect-left .FollowByEmail .widget-content {
    padding: 10px;
    box-sizing: border-box;
}

.sect-left .list-label-widget-content li:first-child a:before {
    top: -6px;
}

.footer-wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    background-color: #F3F3F3;
    display: block;
    padding: 10px 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    border-top: 1px solid #F3F3F3;
}

.footer-wrapper .footer-copy {
    margin: 0 auto;
}

.footer-wrapper .copyright {
    font-size: 12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-wrapper .copyright a {
    color: #aaa;
}

.footer-wrapper .copyright a:hover {
    color: #F34E4E;
}

#back-to-top {
    position: fixed;
    right: 32px;
    bottom: 7%;
    display: none;
    width: 38px;
    height: 38px;
    background-color: #F34E4E;
    background: #F34E4E url(https://4.bp.blogspot.com/-R9aI0WY5tTk/V2VviT7ffaI/AAAAAAAAAdg/UHBGGET_T3UjObhG146zEoFR_ivW8vKbACK4B/s1600/back-to-top.png) no-repeat;
    z-index: 600;
    cursor: pointer;
    transition: background .3s;
}

#back-to-top:hover {
    background-color: #2f2f2f;
}

.error_page #content-wrapper {
    background-color: #fff;
}

.error_page #main-wrapper {
    width: 100%!important;
    margin: 0!important;
}

.error_page #sidebar-wrapper,.error_page .status-msg-wrap {
    display: none;
}

#error-wrap {
    color: #2f2f2f;
    text-align: center;
    padding: 60px 0 80px;
}

.error-item {
    font-size: 160px;
    line-height: 1;
    margin-bottom: 20px;
}

#error-wrap h2 {
    font-size: 25px;
    padding: 20px 0 10px;
}

#error-wrap .homepage {
    padding-top: 10px;
    display: block;
}

#error-wrap .homepage i {
    font-size: 20px;
}

#error-wrap .homepage:hover {
    text-decoration: underline;
}

.img-anime .recent-boxes .box-image,.img-anime .recent-boxes .bf-thumb,.img-anime .custom-widget .rcthumb,.img-anime .PopularPosts img,.img-anime .home .block-image .thumb a,.img-anime .tc-thumb a,.img-anime .related-thumb a,.img-anime .PopularPosts .item-thumbnail a,.img-anime .cmm-img {
    opacity: 0;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
}

.img-anime .img-effect,.img-anime .recent-boxes .box-image.img-effect,.img-anime .recent-boxes .bf-thumb.img-effect,.img-anime .recent-boxes .bf-thumb.img-effect,.img-anime .custom-widget .rcthumb.img-effect,.img-anime .PopularPosts img.img-effect,.img-anime .block-image .thumb a.img-effect,.img-anime .tc-thumb a.img-effect,.img-anime .related-thumb a.img-effect,.img-anime .PopularPosts .item-thumbnail a.img-effect,.img-anime .cmm-img.img-effect {
    opacity: 1;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
    border: 0;
}

.FollowByEmail .follow-by-email-inner .follow-by-email-address {
    width: 100%;
}
